<% @attractions.each do |attraction| %>
<p> attraction.name </p>
<p> attraction.tickets </p>
<%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
<% end %>


<% if @user.admin == true %>
<%= link_to "New Attraction", new_attraction_path %>
<% end %>